body, html {
    scroll-behavior: smooth; /* Añade esta línea para un desplazamiento suave */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(to right, #6A11CB, #2575FC);
    color: #fff;
    text-align: center;
}

.navbar {
    display: flex;
    padding: 5px 10px 5px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.sign-up {
    background: #fff;
    color: #2575FC;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    width: 90%;
    margin: 0 auto;
    padding: 50px 20px;
}

.hero h1 {
    max-width: 60%;
    font-size: 36px;
    margin: 0 auto 20px;
}

.hero p {
    font-size: 18px;
    margin: 0 0 20px;
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

#wave-hero{
    margin-bottom: -1%;
}


.sections {
    width: 80%;
    margin: 0 auto;
    margin: 5% auto 5% auto;
}

.Type1_Container {
    position: relative; /* Asegura que los elementos hijos absolutos se posicionen relativos a este contenedor */
    display: flex;
}

.Type1_img {
    border-radius: 25px;
    width: 50%;
    overflow: scroll;
}

.Type1_txt {
    padding: 10px;
    width: 50%;
    display: block;
    z-index: 1; /* Asegura que el texto esté por encima del elemento flotante */
}

.colorText {
    color: #6A11CB;
    font-weight: bold;
}

.colorBar {
    width: 25%;
    height: 6px;
    border-radius: 25px;
    background-color: #6A11CB;
}

#Txt_adj {
    display: none;
    margin-bottom: 10px;
}


#wave-top{
    margin-top: -6%;
}

#Main_Type3 {
    background-image: url('./Assets/Info_Tallao_fondo.png');
    width: 100%;
    padding-top: 5%;

}

.Type3_Container {
    justify-content: space-between;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    background-color: #ffffff5b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Type3_txt {
    padding-top: 2%;
    width: 100%;
    text-align: center;
}

.Type3_img {
    border-radius: 25px;
    width: 48%;
    overflow: scroll;
}

.Type3_img_Container {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding-bottom: 5%;
}

#wave-bottom{
    margin-bottom: -1%;
}

#Main_Type4 {
    display: none;
}

.Type4_Container {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}

.Type4_img {
    border-radius: 15px;
    width: 32%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Elemento flotante */
.floating-geom {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 128, 255, 0.2);
    border-radius: 25px;
    top: 30%; /* Ajusta la posición según sea necesario */
    left: 0%; /* Ajusta la posición según sea necesario */
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 0; /* Asegura que el objeto esté detrás del texto */
    filter: blur(5px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg) translateY(-20px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(0);
    }
}

footer {
    background-image: url('./Assets/Info_Tallao_fondo.png');

}

.footer {
    text-align: center;
    padding: 1px;
}


iframe {
    width: 94%;
    min-width: 300px;
    margin: 1%;
    border-radius: 10px;
}

.text-font {
    color: #6a1b9a;
    font-weight: bold;
}



/* Estilos para pantallas de móviles */
@media only screen and (max-width: 767px) {
    .sections {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 8%;
    }

    .section_hero {
        display: block;
    }

    .mobile_size {
        width: 100%;
    }

    .Type1_txt {
        text-align: center;
    }

    #Txt_adj {
        display: inline;
        background-color: #FFA500;
    }

    #txt {
        display: none;
    }

    .floating-geom {
        visibility: hidden;
    }
}
