body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(to right, #6A11CB, #2575FC);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.sign-up {
    background: #fff;
    color: #2575FC;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    padding: 50px 20px;
}

.hero h1 {
    max-width: 60%;
    font-size: 36px;
    margin: 0 auto 20px;
}

.hero p {
    font-size: 18px;
    margin: 0 0 20px;
}

.signup-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.signup-form input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.signup-form button {
    padding: 10px 20px;
    border: none;
    background: #FFA500;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.sections{
    width: 80%;
    margin: 0 auto;
/* Arriba | Derecha | Abajo | Izquierda */
    margin: 5% auto 5% auto;
}

.Type1_Container{
    display: flex;
}

.Type1_img {
    border-radius: 25px;
    width: 50%;
    overflow: scroll;
}

.Type1_txt {
    padding: 10px;
    width: 50%;
    display: block;
}

.colorText{
    color: #6A11CB;
    font-weight: bold;
}
.colorBar{
    width: 25%;
    height: 6px;
    border-radius: 25px;
    background-color:#6A11CB;
}

#Txt_adj{
    display: none;
    margin-bottom: 10px;
}

.Type3_Container{
    display: flex;
    justify-content: space-between;
}

.Type3_txt {
    width: 100%;
    text-align: center;
}

.Type3_img {
    border-radius: 25px;
    width: 48%;
    overflow: scroll;
}


.Type4_Container{
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}

.Type4_img {
    border-radius: 15px;
    width: 32%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer {
    background-image: url('../Assets/Info_Tallao_fondo.png');  
    text-align: center;
    padding: 20px;
  }
  
  iframe {
    width: 94%;
    min-width: 300px;
    margin: 1%;
    border-radius: 10px;
  }

  .text-font {
    color: #6a1b9a;
    font-weight: bold;
  }

/* Estilos para pantallas de móviles */
@media only screen and (max-width: 767px) {
    
    .sections{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 8%;
    }
    .section_hero{
        display: block;
    }
    .mobile_size{
        width: 100%;
    }
    .Type1_txt {
        text-align: center;
    }

    #Txt_adj{
        display: inline;
        background-color: #FFA500;
    }

    #txt{
        display: none;
    }
  }